@page
@model EntAppSecond.Pages.RoutFunPlayModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RoutFunPlay</title>
</head>
<body>
    <a href="RouteFunSecond/hello" >Go to route fun second</a>

    <a asp-page="/RouteFunSecond" asp-route-message="goodbye">Go to route fun second</a>
</body>
</html>
